body{
background-image: url("https://www.xmple.com/wallpaper/white-blue-stripes-streaks-lines-1440x1440-c2-ffffff-add8e6-l2-74-74-a-0-f-1.svg");
}
h1{
  font-family: 'tahoma', sans-serif;
  font-size: 50px;
  color: midnightblue;
}
h2{
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: midnightblue;
  text-transform: uppercase;
}
p{
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 150;
  color: darkblue;
}
a{
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 250;
  text-transform: uppercase;
  letter-spacing: 1px;
}
